@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@800&family=Work+Sans:wght@200&display=swap');

body{
    color: black;
    font-family: 'Orbitron', sans-serif;
    font-size: 5rem;
}

#clock{
    padding-top: 40vh;
    padding-left: 5vw;
}

#background{
    position: absolute;
    top: 6%;
    left: -3vw;
}

.quote2{
    position: fixed;
    width: 40vw;
    top: 35vh;
    margin-left: 50%;

    font-size: 1.5rem;
    color: black;
}